.loader_container {
  width: 541px;
  height: 40px;
  background-color: #0f2d31; /* empty part */
  border: 2px solid #c9a84c;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.loader_bar {
  width: 0%;
  height: 100%;

  /* blue loading fill */
  background-color: #1F5157;

  /* symbols only inside the filled part */
  background-image: url('../../Assets/Images/the symbols.svg');
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 70%;

  animation: load linear forwards;
  animation-duration: inherit;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}