* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../Assets/Fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplayVariable';
  src: url('../Assets/Fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

body {
  overflow: hidden;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main_video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  z-index: -1;
}

.loading_screen_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading_screen_div2 {
display: flex;
flex-direction: column;
align-items: center;
gap: 391px;
margin-top: 3%;
position: absolute;
  z-index: 1;
}

.loading_screen_div3{
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch; 
align-items: center;  
}

.game_logo {
  width: 541px;
  height: 245.338px;    
}

.text1{
color: #EABF72;
text-align: center;
font-family: 'PlayfairDisplay';
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;    
}

.text2{
color: #EABF72;
font-family: 'PlayfairDisplayVariable';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;    
}