* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../Assets/Fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplayVariable';
  src: url('../Assets/Fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

body {
  overflow: hidden;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.main_video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.loading_screen_div1 {
  display: flex;
  width: 541px;
  flex-direction: column;
  align-items: center;
  gap: -22px;
  position: absolute;
  z-index: 1;
}

.game_logo {
  width: 541px;
  height: 245.338px;    
}